---
import ContentPage from "../../../components/ContentPage.astro";
---

<ContentPage
  title="Privacy Policy | Tiny Temptation Tubs"
  lang="en"
  path="/en/privacy/"
  heading="Privacy Policy"
>
  <div class="hand-text">
    <p>Content coming soon.</p>
  </div>
</ContentPage>
