---
import ContentPage from "../../../components/ContentPage.astro";
---

<ContentPage
  title="Imprint | Tiny Temptation Tubs"
  lang="en"
  path="/en/imprint/"
  heading="Imprint"
>
  <div class="hand-text">
    <p>Content coming soon.</p>
  </div>
</ContentPage>
