---
import ContentPage from "../../../components/ContentPage.astro";
---

<ContentPage
  title="Datenschutz | Tiny Temptation Tubs"
  lang="de"
  path="/de/datenschutz/"
  heading="Datenschutz"
>
  <div class="hand-text">
    <p>Inhalt folgt in Kürze.</p>
  </div>
</ContentPage>
