---
import ContentPage from "../../../../components/ContentPage.astro";
import ContentImage from "../../../../components/ContentImage.astro";
import Gallery from "../../../../components/Gallery.astro";
import {
  FEATURED_EVENT_IMAGE_PX,
  FEATURED_EVENT_REM,
  featuredEventImageSizes,
  remScaledWidths,
} from "../../../../data/layout";
import { resolveImage, resolveImages } from "../../../../data/images";
---

<ContentPage
  title="Events | Tiny Temptation Tubs"
  lang="en"
  path="/en/pics/events/"
  heading="Events"
>
  <ContentImage
    src={resolveImage("events/Event_11.07.26.png")}
    width={FEATURED_EVENT_IMAGE_PX}
    sizes={featuredEventImageSizes()}
    widths={remScaledWidths(FEATURED_EVENT_REM)}
    class="w-full max-w-lg"
    alt="Next event: Saturday at 18:00 server time"
  />
  <h2>★ Archive ★</h2>
  <Gallery
    aspect="portrait"
    altPrefix="Event photo"
    images={resolveImages([
      "events/Event_04.07.26.jpg",
      "events/Event_20.06.26.png",
      "events/Event_06.06.26.jpg",
      "events/Event_23.05.26.jpg",
      "events/Event_09.05.26.jpg",
      "events/Event_25.04.26.jpg",
      "events/Event_11.04.26.jpg",
    ])}
  />
</ContentPage>
