---
import ContentPage from "../../../components/ContentPage.astro";
---

<ContentPage
  title="Impressum | Tiny Temptation Tubs"
  lang="de"
  path="/de/impressum/"
  heading="Impressum"
>
  <div class="hand-text">
    <p>Inhalt folgt in Kürze.</p>
  </div>
</ContentPage>
